body {
	background: #F7FBFF;
	margin: 0;
}
.top-side {
	display: flex;
	-ms-align-items: center;
	align-items:center;
}
.logo-block {
	width: 10%;
	margin: 4px;
}
.article {
	width: 100%;
}
.article h1 {
	width: 50%;
	float:left;
	font-size:25px;
	font-weight:normal;
	margin: 0 0 6px 15px;
}
.container nav {
	margin: 11px 0 35px;
}
.georgia-font, .blocks-head {
    font-family: Georgia, Verdana;
	font-style: italic;
}
.container nav a {
	color: #000;
	text-decoration: underline;
	padding: 7px;
	font-size: 16px;
	height: 30px;
	margin-left: 1px;
}
.container nav .active{
	margin-left: 2px;
}
.container nav .active, .container nav a:hover {
	/*background: linear-gradient(to top, #d01919, #eb1b1c);*/
	background: url("../images/gr3.gif");
	color: #fff;
	border-radius: 12px;
	text-decoration: none;
}
.region {
	margin-left: 5px ;
	padding: 0;
	font: 15px Arial, Verdana normal normal;
}
.region a, .stat a {
	color:#000;
}
.region a:hover, .stat a:hover, .aside-menu ul li a:hover,.reg:hover, .recovery:hover {
	text-decoration: none;
	border:none;
	color: #0000FF;
}
.region .dashed{
	margin-left: 14px;
	text-decoration: none;
	border-bottom: 1px dashed black;
}
main {
	margin: 0 4px 0 2px ;
	display: flex;
	justify-content: space-between;
}

.blocks {
	margin: 15px 0 25px 0;
	width: 204px;
	border: 1px solid silver;
	box-shadow: 3px 3px 5px #808080;
	border-radius: 8px;
	background: #eff3ff;
}
.blocks-head {
	width: 100%;
	height: 30px;
	background: url("../images/gr4.gif") repeat-x;
	color: #fff;
	font-size: 16px;
	border-top-right-radius: 7px;
	border-top-left-radius: 7px;
	text-align: center;
	line-height: 28px;
}
.blocks-content {
	text-align: center;
}

.blocks-content span {
    font:14px Arial, Verdana;

}
.blocks-content nav ul {
	/*margin-left: -33px;*/
	padding-left: 7px;
	margin-bottom: 16px;
}
.blocks-content nav li {
	text-align: left;
	background: url("../images/nav.png") no-repeat;
	list-style: none;
	margin-top: 0;
	padding-left: 20px;
}
.blocks-content nav li a {
	color:#000;
	/*line-height: 20px;*/
	font: normal normal 12px/20px Arial, Verdana;
}
.aside-menu .h-line {
	background: url("../images/navsep.png") no-repeat;
	padding-top: 14px;
	margin-top: 6px;
}

form[name="theme"], form[name="language"] {
	padding: 16px 15px 19px 18px;
	display: flex;
	flex-direction: column;
	align-items: center;
}
  select[name="theme"]  {
	margin: 5px 3px 0 0;
}
select[name="language"] {
	margin: 5px 2px 0 0;
}
 input[name="language"], input[name="theme"] {
	 margin: 3px 0 -0 1px;
 }
select, input {
	font-size: 15px;
	border: 1px solid #BEBEBE;
	padding: 3px;
	margin: 2px;
	border-radius: 4px;
}
input[type="submit"]
 {
	background: url("../images/bgradient.gif");
 }

input:focus, select:focus
{
	outline:none;
	border-color:#FF5B5B;
	-webkit-box-shadow:0 0 8px #BEBEBE;
}
input[type='submit']:focus, input[type='button']:focus
{
	border:1px solid #BEBEBE;
	box-shadow:0 0 0 #BEBEBE;
	background: url('../images/bgradientinv.gif');
}
.title h1
{
	font: 25px Georgia italic normal;
	text-align:left;
}
form[name="auth"] {
	width: 100%;
	margin: 15px 0 0 2px;
}
form[name="auth"] span {
	font-weight: bold;
}
input::-webkit-input-placeholder {
	color: #000;
}
form[name="auth"] input {
	margin-top: 2px;
	padding: 0;
	font-size: 15px;
	width: 178px;
}
input[type="text"], input[type="password"]
{
	background: #ffffff;
}
form[name="auth"] input[type="password"] {
	margin: 4px 0 1px;
}
/*form [name="auth"] input[type="password"] {*/
	/*-webkit-text-security: square;*/
/*}*/

form[name="auth"] input[type="submit"] {
	text-align: center;
	width: 180px;
}
form[name="auth"] .auth-methods {
	width: 200px;
	margin-top: 12px;
	margin-left: 2px;
	display: flex;
	justify-content: center;
}
form[name="auth"] .auth-methods a {
	margin: 0 5px 5px 0;
	width: 16px;
	height: 16px;
	box-sizing: content-box;
}
.auth-btn {
	text-align: left;
	margin: 6px 0 15px 4px;
}
.reg, .recovery {
	color: #000;
	font: 12px Arial, Verdana normal normal;
	text-decoration: none;
}
.auth-btn p {
	margin:0;
}
.auth-btn p:nth-child(2) {
	margin-top: -4px;
}
.reg {
	border-bottom: 1px dashed black;
}
.rss div {
	margin: 16px 16px 12px 17px;
	display: block;
}
.rss div:last-child {
	margin-top: 13px;
	margin-left: 19px;
}
.stat {
    text-align: left;
	padding: 2px;
    font: 12px Arial, Verdana;
}
.stat ul {
	padding-left: 15px;
}
